@model IEnumerable<PeerTutor.Models.CourseTutor>



@{
    ViewData["Title"] = "Experts";
    var imageThumbPath = "/images/default_image.jpg";

}

@*<h2 class="mt-5 text-center">Experts - </h2>*@
<h4 class="text-center">Experts - @ViewData["CourseTitle"]</h4>

@if (!Model.Any())
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>😞</strong> There are currently no experts available. Please check back soon!
    </div>

}



<div class="card-deck" id="experts">
    @foreach (var expert in Model)
    {
        @*<div class="col-auto mb-3">*@
    <div class="card">
        <img class="card-img-top" src="@{if (string.IsNullOrEmpty(expert.User.Photo))
            {@imageThumbPath }
            else { @expert.User.Photo; }
            }"/>
        <div class="card-body">
            <div class="card-text text-center">
                <!-- Button trigger modal -->

                <h3>@Html.ActionLink(@expert.User.FirstName, "Details", "Users", new { id = @expert.UserId }, new { @class = "btn-link" }) </h3>
                <div>
                    <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="1" class="rating" />
                    <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="2" class="rating" />
                    <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="3" class="rating" />
                    <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="4" class="rating" />
                    <img src="~/images/StarFade.gif" alt="Star Rating" align="middle" id="5" class="rating" />
                    <span style="vertical-align: bottom;">(@expert.User.RateCount)</span> @{if (expert.User.RateCount > 0)
                        {
                            decimal a = @expert.User.RateTotal / @expert.User.RateCount; <span class="avr mb-1" style="display:none;"> @a</span> } }<br />
                </div>



                <h3>Grade: @expert.Grade</h3>

                @Html.ActionLink("Book me!", "Create", "Sessions", new { bookedWith = expert.UserId, courseId = expert.CourseId }, new { @class = "btn btn-info mb-1" })

                <button type="button" class="btn btn-primary mb-1" data-toggle="ajax-modal" data-target="#add-review" data-url="@Url.Action("ShowReviews", "Reviews", new { userId = expert.UserId})">
                    Reviews
                </button>

            </div>
        </div>

    </div>
    }
</div>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-contact" id="reviews">
    Add contact
</button>*@
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>


@section Scripts{

    <script>
        $('#experts > div > div > div > div').each(function () {

            var av = $(this).find("span.avr").text();

            if (av != "" || av != null) {
                // alert(av);
                // fillRating(parseInt(av));
                var img = $(this).find("img[id='" + parseInt(av) + "']");
                img.attr("src", "/images/starGlow.gif").prevAll("img.rating").attr("src", "/images/starGlow.gif");
            }

        });



    </script>

    <script>
        $(function () {
    $('button[data-toggle="ajax-modal"]').click(function (event) {
        var url = $(this).data('url');
        $.get(url).done(function (data) {
            $('#modal-placeholder').html(data);
            $('#modal-placeholder > .modal').modal('show').css({ "max-height": screen.height * .8, "overflow-y": "auto" });
        });
    });
});
        //$(function () {
        //    $("img.rating").mouseover(function () {
        //        var placeholderElement = $('#modal-placeholder');

        //        $('button[data-toggle="ajax-modal"]').click(function (event) {
        //            var url = $(this).data('url');
        //            $.get(url).done(function (data) {
        //                placeholderElement.html(data);
        //                placeholderElement.find('.modal').modal('show');
        //            });
        //        });
        //    })
        //});
    </script>
}
